{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    div#menu {
        height: 100%;
        min-height: 100%;
    }

    div#header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 10;
    }

    div#body {
        overflow-y: auto;

        padding: 20px;
        margin-top: 60px;

        -webkit-overflow-scrolling: touch;
    }


    .menu-enter-active, .menu-leave-active {
        transition: all 1s;
    }

    .menu-enter, .menu-leave-to
        /* .list-leave-active for below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }
</style>


    <div id="menu">
        <div id="header" class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text show-for-medium">{{ book }}&nbsp;</li>
                    <li><a href="/"><span class="fa fa-home"></span></a></li>
                    <li v-if="!downloading"><a v-on:click="download()"><span class="fa fa-cloud-download"></span></a></li>
                    <li class="menu-text" v-if="downloading"><span class="fa fa-spinner fa-spin"></span></li>
                    <li><input type="search" placeholder="检索《{{ book }}》的章节" v-model="search"></li>
                </ul>
            </div>
        </div>
        <div id="body">
            <table>
                <transition-group name="menu" tag="tbody">
                    <tr v-on:click="select(menu.id)" v-for="menu in filtered" v-bind:key="menu.key">
                        <td>!{ menu.menu }</td>
                    </tr>
                </transition-group>
            </table>
        </div>
    </div>

<script>

//import VueResource from 'vue-resource'

Vue.use(VueResource);
Vue.http.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";


parse_content = function(content_str){
    return content_str.split("\n\n")
};

var app = new Vue({
    el: "#menu",
    data: {
        chapters: null,
        search: "",
        downloading: false
    },
    methods: {
        select: function (id) {
            this.$http.post("/menu/{{ book }}", {id: id}, {emulateJSON: true}).then(
                function (res) {
                    window.location.href = "/read/{{ book }}"
                },function (res) {
                    console.log(res);
                }
            );
        },
        download: function () {
            this.downloading = true;
            this.$http.post("/download", {book: "{{ book }}", emulateJSON: true}).then(
                function (res) {
                    let data = new Blob([res.data.data], {encoding: "UTF-8", type: 'text/md;charset="UTF-8'});
                    var elem = window.document.createElement('a');
                    elem.href = window.URL.createObjectURL(data);
                    elem.download = "{{ book }}.md";
                    document.body.appendChild(elem);
                    elem.click();
                    document.body.removeChild(elem);

                    this.downloading = false;
                },function (res) {
                    console.log(res);
                    this.downloading = false;
                }
            );
        }
    },
    computed: {
        filtered: function () {
            if(this.search === ""){
                return this.chapters
            }else{
                return this.chapters.filter(each => each.menu.includes(this.search));
            }
        },
    },
    created: function(){
        this.chapters = function () {
            let ori = ["{{ menus|join("\", \""|safe) }}"];
            return ori.map(value => function (v) {
               let vs = v.split("_");
               return {
                   menu: vs[0],
                   id: vs[1],
                   key: v
               }
            }(value));
        }();
    },
    delimiters: ['!{','}']
});
</script>
{% endblock %}