{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    div#read {
        height: 100%;
        min-height: 100%;
    }

    html,body{
        background-color: #f1e5c9;
    }

    div#header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 10;
    }

    div#content-body {
        overflow-y: auto;

        padding: 24px;
        max-width: 768px;
        margin: 0 auto;
        margin-top: 60px;

        -webkit-overflow-scrolling: touch;
    }

    p {
        font-size: 1.1em;
        font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
    }

    .v-leave { opacity: 1; }
    .v-leave-active { transition: opacity 2s }
    .v-leave-to { opacity: 0; }
    .v-enter { opacity: 0; }
    .v-enter-active  { transition: opacity 2s }
    .v-enter-to { opacity: 1; }
</style>

    <div id="read">
        <div class="top-bar" id="header">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="/"><span class="fa fa-home"></span></a></li>
                    <li><a href="/menu/{{ book }}"><span class="fa fa-list-ol"></span></a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <transition name="fade">
                        <li v-if="next_ready">
                            <a v-on:click="next()"><span class="fa fa-chevron-right"></span></a>
                        </li>
                    </transition>
                    <transition name="fade">
                        <li v-if="finished">
                            <a href="/"><span class="fa fa-door-open"></span></a>
                        </li>
                    </transition>
                </ul>
            </div>
        </div>
        <div class="body" id="content-body">
            <transition mode="out-in">
            <div id="waiting" v-if="!ready">
                <p>等待刷新...</p>
            </div>
            <div class="chapter" v-else>
                <h1 style="margin-bottom: 20px">!{ title }</h1>

                <div class="content">
                    <div v-for="content in contents">
                        <p style="margin: 2px 2px 22px 2px">!{ content }</p>
                    </div>
                </div>
            </div>
            </transition>
        </div>
        <!--
        <transition name="fade" class="footer">
            <button class="pure-button" style="width: 100%" v-if="next_ready" v-on:click="next()">下一章</button>\
        </transition>

        <transition name="fade" class="footer">
            <a href="/" class="pure-button" style="width: 100%" v-if="finished">这是最后一章</a>\
        </transition>
        -->
    </div>

<script>

//import VueResource from 'vue-resource'

Vue.use(VueResource);
Vue.http.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";


parse_content = function(content_str){
    return content_str.split("\n\n");
};

var app = new Vue({
    el: "#read",
    data: {
        ready: false,
        chapter_id: "",
        title: null,
        contents: [],
        next_chapter: null,
        finished: false
    },
    methods: {
        get_next_chapter: function () {
            this.$http.get("/next/" + this.chapter_id).then(
                function (res) {
                    if(res.body.finished){
                        this.finished = true;
                        this.next_chapter = null;
                    }else{
                        this.next_chapter = res.body;
                    }
                },function (res) {
                    console.log(res);
                }
            )
        },
        next: function () {
            if(this.next_chapter !== null) {
                this.chapter_id = this.next_chapter.id;
                this.title = this.next_chapter.title;
                this.contents = parse_content(this.next_chapter.content);
                this.next_chapter = null;

                window.scrollTo(0, 0);
                this.$el.querySelector("#content-body").scrollTo(0, 0);

                this.get_next_chapter();
            }
        }
    },
    computed: {
        next_ready: function () {
            return this.next_chapter !== null;
        }
    },
    created: function(){
        this.chapter_id = function () {
            return "{{ chapter_id }}"
        }();
        this.$http.get("/current/" + this.chapter_id).then(
            function (res) {
                this.title = res.body.title;
                this.contents = parse_content(res.body.content);
                this.chapter_id = res.body.id;
                this.ready = true;
                this.get_next_chapter();
            },function (res) {
                console.log(res);
                window.location.href = "/";
            }
        )
    },
    delimiters: ['!{','}']
});
</script>
{% endblock %}