{% extends "layout.html" %}
{% block content %}

<style type="text/css">
    h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
</style>
<div class="grid-y grid-padding-y" id="user" style="height: 100%; margin: 0 auto;">
<div class="cell small-2 medium-3"></div>
<div class="cell small-8 medium-6 fluid">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3 show-for-medium"></div>
        <div class="cell small-12 medium-6" id="login">
            <h2>小明追书</h2>
            <form action="{{ url_for("user") }}" method="post" name="login" class="pure-form pure-form-aligned">
                <fieldset class="fieldset">
                    <legend>用户登陆</legend>
                    <input type="text" id="username" placeholder="请填写用户名" name="username" required>
                    <input type="password" id="password" placeholder="请填写密码" name="password" required>

                    {{ form.csrf_token }}
                    <button type="submit" class="button expanded">登陆</button>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <span class="pure-form-message">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                </fieldset>
            </form>
        </div>
        <div class="cell medium-3 show-for-medium"></div>
    </div>
</div>
<div class="cell small-2 medium-3"></div>
</div>
{% endblock %}